{{> head }}

{{> navbar }}

<main role="main" class="flex-shrink-0">
	<div class="container">
		<div class="row">
			<div class="col-8">
				<h1>Zanahoria Sarcástica</h1>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt nihil expedita neque, nisi earum, provident
					praesentium nostrum omnis, illum tempore ab eos perspiciatis delectus aut quos corporis facilis. Nulla, natus.
				</p>
			</div>
			<div class="col-4">
				<img src="assets/img/giphy.gif" class="img-thumbnail" alt="imagen">
			</div>
		</div>
	</div>
</main>

{{> footer }}